#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  
  text-align: center;
  width:100vw;
  height:100vh;
}


#navbar{
  display:flex;
  justify-content: space-between ;
  font-weight: bolder;
  border:2px solid gray;
  background-color:#264558;
  color:white;
  font-size: 15px;
  
}

/* Form at login page and signup page */
.form{
  display: flex;
  flex-direction: column;
}
.allposts, .Profile, .add-form{
  border:1px solid blueviolet;
}

.Login, .Signup{
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

